.footer-bar {
  background-color: $background-grey-color;
  color: $white-text-color;
  @include flex-column-gap(16px);
  padding: 22px 0 22px 25px;
  h2 {
    font-family: $title-font;
    font-size: 18px;
  }
  .footer-content {
    @include flex-column-gap(7px);
    a {
      color: $white-text-color;
      @include text-fontstyle($size: 16px, $weight: normal);
    }
    .footer-content__icons {
      @include flex-column-gap(7px);
    }
    .fa-utensils {
      margin-right: 11px;
    }
    .fa-handshake-angle {
      margin-right: 5px;
    }
  }
}
