.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  @include center-flex;
  .fa-spinner {
    font-size: 8em;
    animation: loading 3s forwards;
    &::before {
      @include before-gradient-color;
    }
  }
}

.main-container {
  opacity: 0;
  animation: showContent 0.5s 2.5s forwards;
}
