.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  @include center-flex;
  .fa-spinner {
    font-size: 8em;
    animation: loading 3s forwards;
    &::before {
      background-image: linear-gradient($primary-color, $secondary-color);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.main-container {
  opacity: 0;
  animation: showContent 0.5s 2.5s forwards;
}

@keyframes loading {
  0% {
    opacity: 0.1;
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(180deg);
    opacity: 1;
  }
  60% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
