.restaurant-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  @include flex-column-gap(40px);
  align-items: center;
  background: $background-main-color;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 32px 13px 40px 13px;
  position: relative;
  margin-top: -35px;
  .menu-wrapper__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    width: 100%;
    h1 {
      font-family: $title-font;
      font-size: 28px;
    }
    .btn-like {
      padding-right: 25px;
    }
  }
}

.section__wrapper {
  opacity: 0;
  animation: showContent 1s ease-out forwards;
  @include flex-column-gap(12px);
  width: 100%;
  > h2 {
    @include text-fontstyle($size: 16px, $weight: lighter);
  }
  span {
    position: relative;
    @include text-fontstyle($size: 16px, $weight: lighter);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      background-color: $new-btn-background;
    }
  }
  .food__wrapper {
    position: relative;
    @include flex-column-gap(0px);
    justify-content: space-evenly;
    height: 70px;
    padding: 0 15px 0 15px;
    background: #fff;
    border-radius: 15px;
    > h3 {
      @include text-fontstyle($size: 18px, $weight: normal);
    }
    .food__wrapper--content {
      display: flex;
      justify-content: space-between;
      > h2 {
        max-width: 230px;
        @include text-fontstyle($size: 15px, $weight: lighter);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      > p {
        @include text-fontstyle($size: 15px, $weight: normal);
        transition: transform 300ms;
      }
    }
  }
}

.entrees {
  animation-delay: 0.5s;
}

.plats {
  animation-delay: 1s;
}

.desserts {
  animation-delay: 1.5s;
}

@media screen and (min-width: 768px) {
  .restaurant-img {
    width: 100%;
    height: 380px;
  }

  .menu-wrapper {
    .menu-wrapper__title {
      justify-content: center;
      gap: 24px;
    }
  }

  .section__wrapper {
    width: 60%;
    .food__wrapper {
      .food__wrapper--content > h2 {
        max-width: 1440px;
      }
    }
  }
}
