@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

@mixin title-fontstyle {
  font-family: $text-font;
  font-size: 24px;
  font-weight: bold;
}

@mixin text-fontstyle($font: $text-font, $size: 16px, $weight: normal) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
}
