.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 48px;
  padding-bottom: 68px;
  gap: 26px;
  h1 {
    @include title-fontstyle;
  }
  .fonction-wrap {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-left: 13px;
    .button-wrap {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 72px;
      width: 90%;
      border-radius: 20px;
      background: $background-main-color;
      position: relative;
      cursor: pointer;
      p {
        font-family: $text-font;
      }
      .round-number {
        @include center-flex;
        width: 24px;
        height: 24px;
        background: $primary-color;
        color: white;
        border-radius: 15px;
        font-size: 14px;
        position: absolute;
        left: -12px;
      }
      .fa-solid {
        color: $icon-color;
      }
      &:hover {
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
        .fa-solid {
          color: $primary-color;
        }
      }
    }
  }
}
