.fonctionnement {
  max-width: 1080px;
  margin: 0 auto;
  @include flex-column-gap(26px);
  padding: 48px 0 68px 20px;
  h1 {
    @include title-fontstyle;
  }
  .fonction-wrap {
    @include flex-column-gap(35px);
    padding-left: 13px;
    .button-wrap {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 72px;
      width: 90%;
      border-radius: 20px;
      background: $background-main-color;
      position: relative;
      cursor: pointer;
      transition: transform 100ms;
      h2 {
        @include text-fontstyle($size: 16px, $weight: normal);
      }
      .round-number {
        @include center-flex;
        width: 24px;
        height: 24px;
        background: $primary-color;
        color: white;
        border-radius: 15px;
        @include text-fontstyle($size: 14px, $weight: normal);
        position: absolute;
        left: -12px;
      }
      .fa-solid {
        color: $icon-color;
      }
      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
        .fa-solid {
          color: $primary-color;
        }
      }
    }
  }
}

// Partie Responsive

@media screen and (min-width: 768px) {
  .fonctionnement {
    padding: 50px 20px 50px 20px;
    .fonction-wrap {
      flex-direction: row;
      gap: 24px;
    }
  }
}
