.reservation {
  @include flex-column-gap(25px);
  align-items: center;
  padding-top: 27px;
  padding-bottom: 57px;
  background-color: $background-main-color;
  h1 {
    @include title-fontstyle;
    text-align: center;
  }
  p {
    @include text-fontstyle($size: 18px, $weight: lighter);
    text-align: center;
  }
}

.btn-primary {
  height: 50px;
  width: 60%;
  background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  @include text-fontstyle($size: 16px, $weight: normal);
}
