// utils/_variables.scss

// Couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$background-main-color: #f6f6f6;
$background-grey-color: #353535;
$white-text-color: #ffffff;
$grey2: #eaeaea;
$icon-color: #7e7e7e;
$new-btn-background: #99e2d0;
$new-btn-txt-color: #008766;

//Polices
$title-font: "Shrikhand";
$text-font: "Roboto";
